.rdb-widget-wrapper
  width: 100%
  padding:1rem
  margin-bottom:1rem
  
  .rdb-widget-content
    border:1px solid #eee

  .rdb-widget-title
    padding:.5rem 0
    text-align:center
    font-weight:bold
    border-bottom: 1px solid #eee

  .rdb-widget
    height:20rem;
    position:relative
    

.rdb-widget-map .map
  height:100%

