.rdb-widget-wrapper
  width: 100%
  height: 22rem
  padding:1rem
  

  .rdb-widget
    height:20rem;
    position:relative
    border:1px solid #eee

.rdb-widget-map .map
  height:100%

.rdb-widget-map .rdb-widget-title
  position:absolute
  width: 100%
  background: white
  padding: .5rem
  z-index:9
  top:0 
  left: 0
