.rdb-widget-todos ul{
  list-style: none;
  margin:0;
  padding:0;
}
.rdb-widget-todos ul li{
  display:block;
  padding:.5rem 1rem;
  border-bottom:1px solid #eee;
  cursor:pointer;
}
.rdb-widget-todos ul li.is-done{
  text-decoration: line-through;
}
.rdb-widget-todos ul li:hover{
  background:#eee;
}
.rdb-widget-todos .rdb-widget-todos-add{
  position: absolute;
  bottom:0;
  text-align: center;
  width: 100%;
  padding:.5rem 0;
  border-top:1px solid #eee;
  cursor: pointer;
  background:#eee;
  user-select:none;
}